
.textBox{
    border: 1.3px solid #ededed;
    box-shadow: none;
    width: 100%;
    min-height: 45px;
    padding: 8px 10px;
    height: 45px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #333;
    box-shadow: none !important;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.textBox::-webkit-scrollbar{
    display: none;
}

.textBox:focus{
    border-color: #29376d;
}
