
.option_area_container{
    width: 100%;
    position: relative;
}

.check_correct{
    position: absolute;
    right: 9px;
    top: 9px;
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    border: 2px solid green;
    color: green;
    cursor: pointer;
}

.check_correct.active{
    background: green;
    color: #fff;
}