.errorDetailCont{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorDetailCont h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}