body, *{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.w_100{
    width: 100%;
}

.display_none{
    display: none;
}

.pane_title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    color: #29376d;
}

.question_alt{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}