
/* Left pane */

.question_list_container{
    position: sticky;
    top: 0;
}

.question_list{
    padding: 20px 30px 0;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    position: relative;
}

.question_list::-webkit-scrollbar{
    width: 5px;
}

/* Track */
.question_list::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
.question_list::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167); 
    border-radius: 10px;
}
  
/* Handle on hover */
.question_list::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 129, 129); 
}

.question_ul{
    list-style: none;
    margin: 0;
}

.question_ul .active .question_text{
    font-weight: 700;
}

.question_ul li{
    display: flex;
}

input.delete_checkbox{
    transform: scale(1.4);
    margin: 22px 16px 0 5px;
    display: none;
}

.question_ul.show_delete .delete_checkbox{
    display: inline-block;
}

.question_text{
    font-size: 19px;
    outline: none;
    padding: 16px 0;
    font-weight: 500;
    background-color: transparent;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    border: 0 ;
    text-align: left;
    line-break: anywhere;
    line-height: 24px;
    width: 100%;
} 

.question_list_footer{
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    background: #fff;
    z-index: 9;
}

.question_list_body{
    padding: 10px 0 20px;
}
